<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="codepix: Convert your syntax to tweet-sized images">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="twitter:site" content="@codepix">
    <meta name="twitter:domain" content="codepix.io">
    <meta name="twitter:creator" content="@codepix">

    {{#if image_url}}
        <link rel="canonical" href="{{url}}">
        <meta property="og:url" content="{{url}}">
        <meta property="og:site_name" content="codepix">

        <meta name="twitter:title" content="I made this with codepix">
        <meta property="og:title" content="I made this with codepix">


        <meta property="author" content="codepix">
        <meta property="article:author" content="codepix">



        <link rel="image_src" href="{{image_url}}">
        <meta name="twitter:card" content="photo">
        <meta name="twitter:image" content="{{image_url}}">
        <meta name="twitter:image:width" content="524px">
        <meta name="twitter:image:height" content="290px">
        <meta property="og:type" content="article">
        <meta property="og:image" content="{{image_url}}">

        <meta property="og:description" content="codepix: Convert your syntax to tweet-sized images">
        <meta name="twitter:description" content="codepix: Convert your syntax to tweet-sized images">

    {{/if}}

</head>
<body>
<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{{#if user}}
    <script type="application/json" id="user" >{{{user}}}</script>
{{/if}}

{{{body}}}
</body>
</html>
